.presets {
  margin-left: 15px;
  margin-top: 6px;
}

.presets button {
  margin-left: 25px;
}

.gh {
  margin: 14px 10px 0;
}

.expectedOverlay {
  padding: 5px;
  border: 1px solid #aa6666;
  white-space: pre;
  background-color: rgba(255, 255, 255, 0.8);
}